/* get rid of default padding */
* {
  margin: 0;
  padding: 0;
}

/* basic header */
header {
  font-size: 10vw;
  background-color: coral;
}

/* positoning all content in the center and making header/body content flex */
.column-flex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  width: 70vw;
  display: flex;
  flex-direction: column;
  border: 0.7vw solid black;
  border-radius: 1vw;
}

/* main body content containg map with markers, nav, and rest info */
.row-flex {
  display: flex;
  background-color: cornflowerblue;
  padding: 20px;
  gap: 1vw;
  font-size: 1vw;
  border-top: 0.7vw solid black;
}

/* some space inbetween the info and map */
.rest-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* where main content is */
.rest-container {
  display: flex;
  width: 35vw;
  flex-direction: column;
  justify-content: space-evenly;
}

/* getting rid of some default styles */
a {
  text-decoration: none;
  color: white;
}
